#header-page{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

#btn-banhang{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

nav ul li:hover{
    text-decoration: underline;
    color: white;
    /* font-size: 1.2em; */
    transition: 0.4s;
}

.left{
    height: 50vh;
    background-color:lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    padding-top: 20px;
}
.left h4{
    text-shadow: 1px 1px 1px black;
}

.right{
    height: 70vh;
    overflow-y: auto;
}

.right table thead{
    background-color: #AFCFFF;
}

.search-aria .input-group{
    margin-top: 5px !important;
}

.search-aria input{
    width: 50% !important;
}

::-webkit-scrollbar {
    display: none;
  }

/* button báo cáo */
.dropdown {
    position: relative; /* Needed for proper positioning */
    display: inline-block; /* Makes the button behave like inline element */
  }
  
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; /* Change cursor to indicate interactivity */
  }
  
  .dropdown-content {
    display: none; /* Initially hide the dropdown content */
    position: absolute; /* Positions the dropdown relative to the button */
    background-color: #f1f1f1;
    min-width: 160px; /* Set minimum width for the dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add a shadow effect */
    z-index: 1; /* Ensures the dropdown appears above other elements */
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    /* text-decoration: none; */
    display: block; /* Makes links behave like block elements */
  }
  
  .dropdown:hover .dropdown-content { /* Show dropdown content on hover */
    display: block;
  }
